# npm
node_modules
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Env
.env

# TODO: remove this
todo.txt


# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore